page-confirmpay {
    .toolbar-background-ios{
        background:color($colors, primary);
       
    }
    .toolbar-title-ios{
        color:#fff;
        font-size:1.45rem;
        font-weight: 400;
    }
    .bar-button-default-ios{
        color: #fff;
    }
    .button-inner{
        margin: 0 auto;
    }
    .back-button-icon-ios{
        font-size: 2rem;
    }
    ion-row{
        padding: 5% 8%;
        background: white;
        div{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .money_title{
            color:#676767;
            font-size: 1.2rem;
            margin-bottom: 2%;  
        }
        .money{
            font-size: 3rem;
            color: color($colors, primary);
            padding-bottom: 1%;
            margin-bottom: 2.8%;
            border-bottom: 1px solid rgb(240, 240, 240);
            span{
                font-size: 1.2rem
            }
        }
        .pay_money{
            font-size: 2.3rem;
            span{
                font-size: 1.2rem;
            }
        }
    }
    .scroll-content{
        background: rgb(248, 248, 248);
    }
    .cardlist{
        padding: 3%;
        .text{
            color: #666666;
        }
    }
    .lgbtn{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1.8rem;
        button{
            width:90%;
            height:4rem;
            border-radius:2.3rem;
            background:linear-gradient(to right, color($colors, light-primary), color($colors, primary));
            color:#fff;
            font-size: 1.6rem;
            .button-inner {
                width: 80%;
                height: inherit;
                margin: 0 auto 1.6rem;
            }
        }
    }  
}
.alert_ticket{
    .alert-wrapper{
        border-radius: .6rem;
        margin: 0 auto;
        min-width: 80%
    }
    .alert-message{
        font-size: 1.6rem;
        margin-top: .8rem;
    }
    .button-inner{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 0 0 1.2rem;
        padding: none;
    }
    .alert-button{
        border: .55px solid #dbdbdf;
        font-size: 1.6rem;
        min-width: 40%;
        margin: .4rem;
        margin-bottom: 1rem;
        border-radius: .2rem;
    }
    .alert-button:first-child{
        margin-left: 1.4rem;
    }
    .alert-button:last-child{
        border: none;
        margin-right: 1.4rem;
        background: color($colors, primary);
        color: #fff;
        font-weight: 400;
    }
}
