page-findpassword {
    .bar-button-default-ios{
        color:#3c3c3c;
    }
    .button-inner{
        margin:0 auto;
    }
    .back-button-icon-ios{
        font-size:2rem;
    }
    .toolbar-background-ios{
        background:#fff;
    }
    .toolbar-title-ios{
        font-size:1.6rem;
        font-weight:600;
    }
    .scroll-content{
        background:rgb(248, 248, 248)
    }
    .list-ios{
        margin-bottom:1.25rem;
    }
    .list-ios > .item-block:last-child{
        border: none;
    }
    .list-ios .item-block .item-inner{
        border-bottom-color:rgb(240, 240, 240)
    }
    .item-ios{
        font-size:1.2rem;
        color:#666;
    }
    .button-outline-ios{
        color:color($colors, primary);
        border-color:color($colors, primary);
    }
    .button-outline-ios.activated{
        background:color($colors, primary);
    }
    .next_btn,.finish_btn{
        width:91%;
        margin:0 auto;
        .button-ios{
            background:#999;
        }
        .add_bkcolor{
            background: color($colors, primary);
        }
    }
    .list-ios > .item-block:first-child{
        border-top: none;
    }
    .password_hint{
        margin: 1rem;
        color: #999;
        font-size: 1.2rem;
    }
    .item-ios .item-button{
        text-align: center;
    }
}
