<!--
  Generated template for the FindpassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>找回密码</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div *ngIf="is_step;then step1 else step2"></div>
  <ng-template #step1>
    <ion-list>
      <ion-item>
        <ion-label>手机号</ion-label>
        <ion-input type="text" placeholder="请输入手机号码" max="11" [(ngModel)]="phone_num" (input)="inputMobile()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>验证码</ion-label>
        <ion-input type="text" placeholder="请输入验证码" [(ngModel)]="verify_code" maxlength="6" minlenght="4"></ion-input>
        <button ion-button outline item-end (click)="getVerifyCode()" *ngIf="send_code == 0; else countDown" [disabled] = "!is_mobile">
          {{message}}
        </button>

        <ng-template #countDown>
          <button ion-button outline item-end style="width:65px">
            {{times}}s
          </button>
        </ng-template>
        
      </ion-item>
    </ion-list>
    <div class="next_btn">
      <button ion-button full round [ngClass]="{'add_bkcolor': is_actived1 == true}" (click)="toNextPage()" [disabled]="!is_actived1">下一步</button>
    </div>
  </ng-template>

  <ng-template #step2>
    <p class="password_hint">
      *密码长度请保持在6-22位的范围内
    </p>
    <ion-list>
      <ion-item>
        <ion-label>输入密码</ion-label>
        <ion-input type="password" placeholder="请输入密码" max="20" min="6" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>确认密码</ion-label>
        <ion-input type="password" placeholder="再次输入密码" max="20" min="6" [(ngModel)]="verify_password"></ion-input>
      </ion-item>
    </ion-list>
    <div class="finish_btn" >
        <button ion-button full round [ngClass]="{'add_bkcolor': is_actived2 == true}" (click)="finished()" [disabled]="!is_actived2">完成</button>
    </div>
  </ng-template>
    
</ion-content>
