.toolbar-background-ios{
    background: #fff;
}
.bar-button-default-ios{
    color: #666;
}
.back-button-icon-ios{
    font-size: 2rem;
}
page-aboutus {
    .button-inner{
        margin: 0 auto;
    }
    .introduce{
        color: #666;
        line-height: 1.5;
    }
        
}
