page-cardmanage {
    .header {
        background: white;
        text-align: center;
        white-space:nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        div {
            display: inline-flex;
            width: 50%;
            align-items: center;
            justify-content: center;
            padding: 1rem 0;
            font-size: 1.4rem;
          
        }
        div:active {
            background-color: rgb(242, 238, 238);
            border-radius: 7%;
        }
        .addselect {
            color: color($colors, primary);
            background:transparent;
            transition:width 2s;
            -moz-transition:width 2s; /* Firefox 4 */
            -webkit-transition:width 2s; /* Safari and Chrome */
            -o-transition:width 2s; /* Opera */
            position: relative;
            span {
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 1px;
                left: 0px;
                background:color($colors, primary);
                animation:myfirst 0.65s;
                -moz-animation:myfirst 0.65s; /* Firefox */
                -webkit-animation:myfirst 0.65s; /* Safari and Chrome */
                -o-animation:myfirst 0.65s; /* Opera */
            }
        }
    
        @keyframes myfirst
        {
        from {width:5%}
        to {width:100%}
        }
    
        @-moz-keyframes myfirst /* Firefox */
        {
        from {width:5%}
        to {width:100%}
        }
    
        @-webkit-keyframes myfirst /* Safari and Chrome */
        {
        from {width:5%}
        to {width:100%}
        }
    
        @-o-keyframes myfirst /* Opera */
        {
        from {width:5%}
        to {width:100%}
        }
    }
    .scroll-content {
        background: rgb(248, 248, 248);
    }
    .addcard { 
        background: white;
        color:color($colors, primary);
        width: 90%;
        margin: 3% auto;
        padding: 3%;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 3px #ccc
    }
    .cardouter {
        border-radius: 8px;
        width: 90%;
        margin: 0 auto;
        box-shadow: 1px 1px 3px #ccc;
        .card {
            display: flex;
            align-items: center;
            background: white;
            width: 100%;
            padding: 4.5%;
            margin: 4.5% auto 0 auto;
            border-radius: 8px 8px 0px 0px;
            position: relative;
            font-size: 1.4rem;
            .cardtext {
                margin-left: 3%;
                .num {
                    color:#9E9E9E;
                    font-size: 1.5rem;
                    margin-top: 5%;
                }
            }
            ion-icon{
               position: absolute;
               right: 5%;
               top:15%;
               font-size: 2.5rem;
            }
        }
        .cardfooter {
            width: 100%;
            padding: 3%;
            width: 100%;
            background: white;
            margin: 0 auto;
            border-top: 1px solid rgb(240, 240, 240);
            border-radius: 0 0 8px 8px;
            .main_card {
                display: flex;
                align-items: center;
                float: right;
                .radio_text {
                    display: flex;
                    align-items: center;
                    margin-left: 5px;
                }
            }
        }
    }
   
}
